@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
*,
*::after,
*::before {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-transition: left 200ms ease-out;
  transition: left 200ms ease-out;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
  background: white;
}

.open {
  left: 67vw;
  overflow: hidden;
}

.mask {
  position: fixed;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: none;
}

@media all and (min-width: 0) {
  .btn {
    opacity: 1;
    z-index: 10000;
    cursor: pointer;
    position: fixed;
    top: 4px;
    left: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent;
    height: 48px;
    width: 48px;
  }
}

@media all and (min-width: 768px) {
  .btn {
    opacity: 0;
    pointer-events: none;
  }
}

.btn:hover {
  background: transparent;
}

.burger,
.burger::before,
.burger::after {
  content: '';
  height: 5%;
  width: 55%;
  background: #22300d;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.burger::before {
  position: absolute;
  top: 14px;
}

.burger::after {
  position: absolute;
  bottom: 14px;
}

.btn.open {
  pointer-events: auto;
  opacity: 1;
}

.burger.open {
  background: none;
}

.burger.open::before {
  -webkit-transform: translate(0, 9px) rotate(45deg);
          transform: translate(0, 9px) rotate(45deg);
}

.burger.open::after {
  -webkit-transform: translate(0, -9px) rotate(-45deg);
          transform: translate(0, -9px) rotate(-45deg);
}

.topnav {
  -webkit-transition: left 200ms ease-out;
  transition: left 200ms ease-out;
}

@media all and (min-width: 0) {
  .topnav {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: -67vw;
    width: 67vw;
    background: white;
  }
}

@media all and (min-width: 768px) {
  .topnav {
    position: relative;
    left: auto;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media all and (min-width: 0) {
  .topnav .container {
    width: 100%;
    height: auto;
  }
}

@media all and (min-width: 768px) {
  .topnav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
}

@media all and (min-width: 0) {
  .topnav .menu-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 66vh;
  }
}

@media all and (min-width: 768px) {
  .topnav .menu-a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
}

@media all and (min-width: 0) {
  .topnav .menu-a .scroller {
    overflow-y: scroll;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    height: 65%;
  }
}

@media all and (min-width: 768px) {
  .topnav .menu-a .scroller {
    overflow-y: hidden;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media all and (min-width: 0) {
  .topnav .menu-a a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 0;
    width: 100%;
    color: #4a6318;
  }
}

@media all and (min-width: 768px) {
  .topnav .menu-a a {
    padding: 0;
  }
}

@media all and (min-width: 0) {
  .topnav .menu-a a:first-child {
    margin-top: 4px;
  }
}

@media all and (min-width: 768px) {
  .topnav .menu-a a:first-child {
    margin-top: 0;
  }
}

@media all and (min-width: 0) {
  .topnav .menu-a a:last-child {
    margin-bottom: 2px;
  }
}

@media all and (min-width: 768px) {
  .topnav .menu-a a:last-child {
    margin-bottom: 0;
  }
}

@media all and (min-width: 0) {
  .topnav .menu-a .logo {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 35%;
    margin: 0 0 0 0;
    padding: 0;
    background: #81ac2a;
  }
}

@media all and (min-width: 768px) {
  .topnav .menu-a .logo {
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 14px;
    -webkit-box-shadow: 0px 0px 12px 0px #8c8c8c;
            box-shadow: 0px 0px 12px 0px #8c8c8c;
  }
}

.topnav .menu-a .logo:hover {
  background: #8dbd2e;
}

@media all and (min-width: 0) {
  .topnav .menu-a .logo h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    margin: 12px 0 16px 12px;
    padding-left: 13px;
    color: #22300d;
    border-left: 3px solid #22300d;
    height: 60px;
  }
}

@media all and (min-width: 768px) {
  .topnav .menu-a .logo h3 {
    margin: 0;
    border-left: 0;
    padding: 0 6px;
    text-align: center;
    color: white;
  }
}

@media all and (min-width: 0) {
  .topnav .menu-a .icn {
    margin: 0 12px 0 8px;
  }
}

@media all and (min-width: 768px) {
  .topnav .menu-a .icn {
    display: none;
  }
}

@media all and (min-width: 0) {
  .topnav .menu-a span {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    color: #81ac2a;
  }
}

@media all and (min-width: 768px) {
  .topnav .menu-a span {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 26px 16px;
    border: 8px solid transparent;
  }
}

@media all and (min-width: 0) {
  .topnav .menu-a span:hover {
    color: #8dbd2e;
  }
}

@media all and (min-width: 0) {
  .topnav .menu-a .arrow {
    margin-right: 8px;
  }
}

@media all and (min-width: 768px) {
  .topnav .menu-a .arrow {
    display: none;
  }
}

@media all and (min-width: 0) {
  .topnav .menu-b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 8px 0 16px 0;
    width: 67vw;
  }
}

@media all and (min-width: 576px) {
  .topnav .menu-b {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media all and (min-width: 768px) {
  .topnav .menu-b {
    width: auto;
    padding: 0;
  }
}

@media all and (min-width: 0) {
  .topnav .menu-b a {
    width: 80%;
    padding: 16px;
    margin: 4px 8px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #81ac2a;
    border-radius: 4px;
  }
}

@media all and (min-width: 576px) {
  .topnav .menu-b a {
    width: 40%;
    margin-left: 16px;
  }
}

@media all and (min-width: 768px) {
  .topnav .menu-b a {
    text-transform: capitalize;
    margin: 0;
    width: auto;
  }
}

@media all and (min-width: 0) {
  .topnav .menu-b .login {
    color: #81ac2a;
    background: transparent;
  }
}

@media all and (min-width: 768px) {
  .topnav .menu-b .login {
    margin-right: 12px;
    border: 0;
  }
}

@media all and (min-width: 0) {
  .topnav .menu-b .login:hover {
    color: #8dbd2e;
    border: 2px solid #8dbd2e;
  }
}

@media all and (min-width: 768px) {
  .topnav .menu-b .login:hover {
    border: 0;
  }
}

.topnav .menu-b .signup {
  color: white;
  background: #81ac2a;
}

.topnav .menu-b .signup:hover {
  background: #8dbd2e;
  border: 2px solid #8dbd2e;
}

.o-topnav {
  left: 0;
  width: 67vw;
}

@media all and (max-width: 768px) and (max-height: 500px) {
  .topnav .container {
    overflow-y: scroll;
    height: 100vh;
  }
  .topnav .menu-a {
    position: relative;
    height: auto;
  }
  .topnav .menu-a .logo {
    height: 144px;
    margin: 0 0 0 0;
    padding: 0;
  }
  .topnav .menu-b {
    position: relative;
    height: auto;
  }
}

@media all and (min-width: 0) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: #ededed;
  }
}

@media all and (min-width: 768px) {
  .hero {
    position: absolute;
    top: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
    padding: 0 10%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media all and (min-width: 0) {
  .hero > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
    background: white;
    -webkit-box-shadow: 0px 0px 12px 0px #8c8c8c;
            box-shadow: 0px 0px 12px 0px #8c8c8c;
  }
}

@media all and (min-width: 768px) {
  .hero > .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media all and (min-width: 0) {
  .hero .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px;
    width: 100%;
    background: #552aac;
  }
}

@media all and (min-width: 768px) {
  .hero .left {
    width: 42%;
  }
}

@media all and (min-width: 0) {
  .hero h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    height: 300px;
  }
}

@media all and (min-width: 576px) {
  .hero h1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media all and (min-width: 768px) {
  .hero h1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media all and (min-width: 0) {
  .hero h1 .text {
    font-size: 6.25vh;
  }
}

@media all and (min-width: 576px) {
  .hero h1 .text {
    font-size: 9vh;
    margin-left: 18px;
  }
}

@media all and (min-width: 768px) {
  .hero h1 .text {
    font-size: 6.25vh;
    margin-left: 0;
  }
}

@media all and (min-width: 0) {
  .hero .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px;
    width: 100%;
  }
}

@media all and (min-width: 768px) {
  .hero .right {
    padding: 32px;
    width: 58%;
  }
}

@media all and (min-width: 0) {
  .hero .right ul {
    list-style: none;
    font-size: 19px;
  }
}

@media all and (min-width: 768px) {
  .hero .right ul {
    list-style: none;
    font-size: 21px;
  }
}

@media all and (min-width: 0) {
  .hero .right ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    line-height: 38px;
    margin-bottom: 1px;
  }
}

@media all and (min-width: 0) {
  .hero .right ul li {
    line-height: 48px;
  }
}

@media all and (min-width: 0) {
  .hero .right ul img {
    margin-top: 10px;
    margin-left: 16px;
    width: 26px;
    height: 26px;
  }
}

@media all and (min-width: 768px) {
  .hero .right ul img {
    margin-left: 16px;
    width: 28px;
    height: 28px;
  }
}

.hero .right li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (min-width: 0) {
  .hero h1 {
    padding: 0;
    font-size: 7.1vh;
    line-height: 0.63;
    text-align: center;
    margin: 0;
    color: white;
  }
}

@media all and (min-width: 768px) {
  .hero h1 {
    font-size: 7.5vh;
  }
}

@media all and (min-width: 0) {
  .hero h1 .icn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 10vh;
    font-weight: bold;
    border: 9px solid white;
    min-height: 170px;
    min-width: 170px;
    border-radius: 50%;
  }
}

@media all and (min-width: 768px) {
  .hero h1 .icn {
    font-size: 11vh;
  }
}

.hero p {
  font-size: 3vh;
}
/*# sourceMappingURL=main.css.map */